/* mine from here */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
}

.navigation {
  height: 65px;
  width: 100%;
   display: flex; 
  /* display: grid; */
  grid-column-start: 1;
  grid-column-end: 6;
  align-items: center;
  position: sticky;
  padding: 0.5rem 0rem;
  color: white;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  /* margin-top: 1px; */
  border-radius: 3px;
  background-image: url(../../pics_for_react/watercolor-background-23qgyepvs608tgt8.jpg);
  background-repeat: repeat;
  background-attachment: initial;
}

.link {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border-radius: 1px;
  color: rgb(251, 250, 251);
  width: 23%;
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  height: 64px;
  text-align: center;
}

.link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link:hover {

  background-color: #111;
  opacity: 40%;
}

.logo {
  font-size: xx-large;
}

form {
  height: 500px;
  width: 500px;
  margin-left: 8%;
  margin-top: 5%;
  align-self: center;
}

input {
  opacity: 90%;
  background-color: rgb(251, 253, 254);
  width: 80%;
  height: 20%;
  align-content: center;
  text-align: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background-color: #847eee;
}


html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url("../../pics_for_react/12-watercolor-backgrounds.jpeg"); */
  /* background: linear-gradient(#e8efc2, #f8afe6); */
  background-color: rgb(252, 252, 250);
}

.login-box {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 700px;
  height: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-image: url("../../pics_for_react/watercolor-background-23qgyepvs608tgt8.jpg");
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #90e5e9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #aad8db,
    0 0 25px #aad8db,
    0 0 50px #aad8db,
    0 0 100px #aad8db;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
FormControl{
  width: 100px;
}
input [type=submit] {
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.cakes {
  width: 150px;
  height: 150px;
  border-color: #de8912;
  border-width: 10px;
  background-image: url("../../pics_for_react/watercolor-background-23qgyepvs608tgt8.jpg");
}

.soups {
  width: 150px;
  height: 150px;
  border-color: #c8f403;
  border: 10px;
  background-image: url("../../pics_for_react/watercolor-background-23qgyepvs608tgt8.jpg");
}

.shakes {
  width: 150px;
  height: 150px;
  border-color: #a41a76;
  border: 10px;
  background-image: url("../../pics_for_react/Tropical_Green_Smoothie_en9ffb98ebd4a6f9d78979598e527bd0fb.jpg");
  background-size: 200px;
}

.salads {
  width: 150px;
  height: 150px;
  border-color: #30d643;
  border: 10px;
  background-image: url("../../pics_for_react/watercolor-background-23qgyepvs608tgt8.jpg");
}

.breakfast {
  width: 150px;
  height: 150px;
  border-color: #09d7d4;
  border: 10px;
  background-image: url("../../pics_for_react/watercolor-background-23qgyepvs608tgt8.jpg");
}

/* .slideshow {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slideshow img {
  float: left;
}

#prev,
#next {
  position: absolute;
  z-index: 9999;
  display: block;
  top: 100px;
  width: 100px;
  height: 100px;
  text-indent: -9999px;
  background-color: #30d643;
} */

/* #prev {
  left: 0;
  background: url(https://image.ibb.co/jevVLk/prev.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
} */

/* #next {
  right: 0;
  background: url(https://image.ibb.co/eGoT6Q/next.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
} */
/* $items: 4;
$animation-time: 4s;
$transition-time: .5s;
$scale: 20%;

$total-time: (
  $animation-time * $items
);
$scale-base-1: (
  1 + $scale / 100%
); */

.slideshow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-duration: $total-time;
  opacity: 1;
  transform: scale($scale-base-1); */
}

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-name: kenburns-(#{$i});
      z-index: ($items - $i);
    }
  }


  @for $i from 1 through $items {
    @keyframes kenburns-(#{$i}) {
      $animation-time-percent: percentage($animation-time / $total-time);
      $transition-time-percent: percentage($transition-time / $total-time);

      $t1: (
        $animation-time-percent * ($i - 1) - $transition-time-percent / 2
      );
    $t2: (
      $animation-time-percent * ($i - 1) + $transition-time-percent / 2
    );

  @if($t1 < 0%) {
    $t1: 0%;
  }

  @if($t2 < 0%) {
    $t2: 0%;
  }

  $t3: (
    $animation-time-percent * ($i) - $transition-time-percent / 2
  );
$t4: (
  $animation-time-percent * ($i) + $transition-time-percent / 2
);

@if($t3 > 100%) {
  $t3: 100%;
}

@if($t4 > 100%) {
  $t4: 100%;
}

$t5: (
  100% - $transition-time-percent / 2
);
$t6: (
  ($t4 - $t1) * 100% / $t5
);

(#{$t1}) {
  opacity: 1;
  transform: scale($scale-base-1);
}

(#{$t2}) {
  opacity: 1;
}

(#{$t3}) {
  opacity: 1;
}

(#{$t4}) {
  opacity: 0;
  transform: scale(1);
}

@if($i !=$items) {
  100% {
    opacity: 0;
    transform: scale($scale-base-1);
  }
}

@if($i ==1) {
  $scale-plus: (
    $scale * (100% - $t5) / $t4
  );
$scale-plus-base-1: (
  1 + ($scale + $scale-plus) / 100%
);

(#{$t5}) {
  opacity: 0;
  transform: scale($scale-plus-base-1);
}

100% {
  opacity: 1;
}
}
}}



/* Presentational stuff */
#present {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 0 1em 2em -1em rgba(0, 0, 0, .5);
  padding: 1em 2em;
  line-height: 1.5;

  small {
    display: block;
    text-transform: lowercase;
    font-size: .7em;

    &:first-child {
      border-bottom: 1px solid rgba(0, 0, 0, .25);
      padding-bottom: .5em;
    }

    &:last-child {
      border-top: 1px solid rgba(0, 0, 0, .25);
      padding-top: .5em;
    }
  }
}